{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <form name="file" method="post"">
        <label for="exampleFormControlSelect1">Fichier demander</label>
         <select class="form-control" name="file[id_demande]" id="exampleFormControlSelect1">
           {% for demande in demandes %}
           <option value="{{demande.id}}">{{demande.Nom}}</option>
          {% endfor %} 
         </select>
           <label for="exampleFormControlSelect1">Fichier demander</label>
         <select class="form-control" name="file[id_cli]" id="exampleFormControlSelect1">
         <option value="">Choisit un client</option>
           {% for test in tests %}
           <option value="{{test.id}}">{{test.nom}}</option>
          {% endfor %} 
         </select>
         <br>
         <br>
         <button type="submite" class="btn btn-success">Filtrer</button>
         </form>
          <br>
       
</div>
{% endblock%}